/* Nav Bar CSS */
.body {
    position: relative;
}

.rows {
 height: 150%;   
}
.columns {
    height: 100%;
}

.page-title {
    text-align: center;
    font-size: 50px;
}

#about {
    text-align: left;
    font-size: 30px;
}
/* Header CSS */
#background{
    background-color:#ffffb3;
}

#pic{
    height:60%;
    width:70%; 
    
}

.nav{
    font-size: medium;
    
}

#section-one {
    background-color: #ffcccc;
     height: 650px;
    margin: 1em;
    border-radius: 1em;
}

#section-two {
    background-color: #ffcccc;
     height: 750px;
    margin: 1em;
    border-radius: 1em;
}
.img-responsive{
    height: 300px;
    width:400px;
}
/* Section CSS */



/* About Section CSS */



/* Portfolio Item CSS */



/* Footer CSS */



/* Button CSS */


